<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>File Metadata Service</title>
      	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="/index.css" />
	</head>
	<body>
		<div id="title"><p>Submit file to view file size</p></div>
		<div id="body">
				<form method="post" enctype="multipart/form-data" action="/">
				<input type="file" name="upl">
				<input type="submit" value="Submit">
			</form>
    </div>
	</body>
</html>